In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import os
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'
import folium

In [10]:
DJ_all = pd.read_excel("ìˆ˜ì •_ëŒ€ì „ ë¬¼ê°€ ë°ì´í„°.xlsx")

DJ_all

,ì›”,í’ˆëª©,ì¡°ì‚¬ê¸°ì¤€,ê°€ ì˜¤ ë™,ê´€í‰ë™,ë…¸ì€2ë™,ë•ì•”ë™,ë‘”ì‚°ë™,ë¬¸í™”ë™,ë¹„ë˜ë™,...,ì‹ íƒ„ì§„ë™,ì•ˆì˜ë™,ì˜¤ì •ë™,ì˜¨ì²œ1ë™,ì˜¨ì²œ2ë™,ìš© ì „ ë™,ì›”í‰ë™,ì „ë¯¼ë™,ì§„ì ë™,íšŒ ë• ë™
0,2014-10,ê°ê·¤,100g ì •ë„ 10ê°œ,9900.0,6900.000000,8000.0,1170.000000,7353.333333,NaN,5000.000000,...,8900.000000,NaN,NaN,8600.0,8450.0,7700.0,6530.0,5750.0,6900.0,8000.000000
1,2014-10,ëŒ€íŒŒ,1kg,NaN,1500.000000,1800.0,1320.000000,1523.333333,1780.0,1500.000000,...,1090.000000,1300.0,1500.0,1500.0,1795.0,1780.0,2980.0,1990.0,1550.0,2500.000000
2,2014-10,ì˜¤ì§•ì–´(ëƒ‰ë™),25cmì •ë„1ë§ˆë¦¬,2950.0,1700.000000,1700.0,2000.000000,2448.333333,2650.0,3000.000000,...,2500.000000,2500.0,2500.0,2000.0,2745.0,NaN,1980.0,2500.0,2550.0,2300.000000
3,2014-10,ì†Œì£¼,"O2ë¦° 360ml, 1ë³‘",1080.0,1090.000000,1090.0,1200.000000,1073.333333,1080.0,1150.000000,...,1090.000000,1080.0,1200.0,1080.0,1095.0,1060.0,1045.0,1090.0,1085.0,1100.000000
4,2014-10,ê³ ì¶”ê°€ë£¨,"êµ­ì‚°, 400g",NaN,3200.000000,13600.0,19360.000000,10510.000000,12880.0,21600.000000,...,16720.000000,8560.0,13000.0,2853.0,18450.0,8500.0,6592.0,2800.0,3100.0,10660.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4594,2024-9,í™”ì¥ì§€,í¬ë¦¬ë„¥ìŠ¤ 35mâ…¹24ë¡¤(ë°±ìƒ‰),17950.0,24313.333333,27970.0,25900.000000,30500.000000,5950.0,28000.000000,...,27120.000000,5940.0,26000.0,24250.0,24540.0,16850.0,23480.0,28392.0,23900.0,24900.000000
4595,2024-9,ë¬´,í†µë¬´ìš° 2kg,3480.0,3993.333333,3990.0,3690.000000,2380.000000,3990.0,3500.000000,...,5973.333333,3950.0,4200.0,2490.0,3995.0,3480.0,3480.0,3990.0,3900.0,6258.692629
4596,2024-9,ë°°ì¶”,í†µë°°ì¶” 2kg,7992.0,9160.000000,5990.0,8800.000000,4735.000000,7990.0,8666.666667,...,3000.000000,8720.0,NaN,4990.0,6445.0,7980.0,8980.0,5900.0,7950.0,NaN
4597,2024-9,ìƒë‹­,"í•˜ë¦¼, ìœ¡ê³„ 1ë§ˆë¦¬ 1kg",10990.0,8395.000000,10990.0,9848.461857,7730.000000,5990.0,6900.000000,...,13980.000000,7500.0,8000.0,7190.0,7495.0,9980.0,10880.0,19980.0,10990.0,6952.380952
4598,2024-9,ì‡ ê³ ê¸°,í•œìš°ë“±ì‹¬1ë“±ê¸‰ 600g,85800.0,54343.333333,71880.0,48000.000000,39258.000000,13600.0,23880.000000,...,44820.000000,9460.0,NaN,67890.0,68400.0,72710.0,32800.0,71400.0,71880.0,57000.000000

In [11]:
DJ_all.columns

Index(['ì›”', 'í’ˆëª©', 'ì¡°ì‚¬ê¸°ì¤€', 'ê°€ ì˜¤ ë™', 'ê´€í‰ë™', 'ë…¸ì€2ë™', 'ë•ì•”ë™', 'ë‘”ì‚°ë™', 'ë¬¸í™”ë™', 'ë¹„ë˜ë™',
       'ì„ë´‰,ëª©ìƒë™', 'ì†¡ ì´Œ ë™', 'ì‹ ì„±ë™', 'ì‹ íƒ„ì§„ë™', 'ì•ˆì˜ë™', 'ì˜¤ì •ë™', 'ì˜¨ì²œ1ë™', 'ì˜¨ì²œ2ë™', 'ìš© ì „ ë™',
       'ì›”í‰ë™', 'ì „ë¯¼ë™', 'ì§„ì ë™', 'íšŒ ë• ë™'],
      dtype='object')

In [12]:
DJ_all['í’ˆëª©'].unique()

array(['ê°ê·¤', 'ëŒ€íŒŒ', 'ì˜¤ì§•ì–´(ëƒ‰ë™)', 'ì†Œì£¼', 'ê³ ì¶”ê°€ë£¨', 'ì½©', 'ë¼ì§€ê³ ê¸°', 'ê¹ë§ˆëŠ˜', 'ë‘ë¶€', 'ë°¤',
       'ë¶„ìœ ', 'ë‹¬ê±€', 'ë¶„ë§ì»¤í”¼', 'ì–‘íŒŒ', 'ìš°ìœ ', 'ë©¸ì¹˜', 'ì‹ìš©ìœ ', 'ì²­ì£¼', 'ì‚¬ê³¼', 'ë¹µ', 'ì¡°ê¸°',
       'ë™íƒœ', 'ì½©ë‚˜ë¬¼', 'ë°°', 'ë¼ë©´', 'ì„¸ì œ', 'ì°¸ê¸°ë¦„', 'ìŒ€', 'ê¹€', 'ì„¤íƒ•', 'ë°€ê°€ë£¨', 'ë§¥ì£¼',
       'í™”ì¥ì§€', 'ë¬´', 'ë°°ì¶”', 'ìƒë‹­', 'ì‡ ê³ ê¸°', 'ê¸°íƒ€'], dtype=object)

In [16]:
import pandas as pd

# ë°ì´í„° ë¡œë“œ
DJ_all = pd.read_excel("ìˆ˜ì •_ëŒ€ì „ ë¬¼ê°€ ë°ì´í„°.xlsx")

# 'ì¡°ì‚¬ê¸°ì¤€' ì»¬ëŸ¼ ì œê±° (í•„ìš”í•˜ë©´ ì‚¬ìš©)
if 'ì¡°ì‚¬ê¸°ì¤€' in DJ_all.columns:
    DJ_all = DJ_all.drop(columns=['ì¡°ì‚¬ê¸°ì¤€'])

# 'ì›”' ì»¬ëŸ¼ì„ datetime í˜•ì‹ìœ¼ë¡œ ë³€í™˜
DJ_all['ì›”'] = pd.to_datetime(DJ_all['ì›”'], format='%Y-%m')

# ê¸°ê°„ë³„ ê·¸ë£¹í™” ì„¤ì •
time_ranges = {
    "2014-2016": (2014, 2016),
    "2017-2019": (2017, 2019),
    "2020-2022": (2020, 2022),
    "2023-2024": (2023, 2024)
}

# ì´ìƒì¹˜ ì œê±° í•¨ìˆ˜ (IQR ë°©ì‹)
def remove_outliers(group):
    # ìˆ˜ì¹˜í˜• ë°ì´í„°ë§Œ ì„ íƒ
    numeric_cols = group.select_dtypes(include=['number'])
    
    # IQR ê³„ì‚°
    Q1 = numeric_cols.quantile(0.25)
    Q3 = numeric_cols.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # ì´ìƒì¹˜ ì²˜ë¦¬
    return group.apply(lambda col: col.where((col >= lower_bound[col.name]) & (col <= upper_bound[col.name])) if col.name in numeric_cols.columns else col)

# ì´ìƒì¹˜ ì œê±° ì ìš©
cleaned_dfs = []

for label, (start_year, end_year) in time_ranges.items():
    # í•´ë‹¹ ê¸°ê°„ ë°ì´í„° í•„í„°ë§
    subset = DJ_all[(DJ_all['ì›”'].dt.year >= start_year) & (DJ_all['ì›”'].dt.year <= end_year)].copy()
    
    # í’ˆëª©ë³„, ì§€ì—­ë³„ ì´ìƒì¹˜ ì œê±°
    subset = subset.groupby('í’ˆëª©', group_keys=False).apply(remove_outliers)
    
    cleaned_dfs.append(subset)

# ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„° ë³‘í•©
cleaned_DJ_all = pd.concat(cleaned_dfs, ignore_index=True)

# ì—‘ì…€ íŒŒì¼ë¡œ ì €ì¥
cleaned_DJ_all.to_excel("ëŒ€ì „_ë¬¼ê°€_IQR_ì´ìƒì¹˜ì œê±°.xlsx", index=False)

print("ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„°ê°€ 'ëŒ€ì „_ë¬¼ê°€_IQR_ì´ìƒì¹˜ì œê±°.xlsx'ë¡œ ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤.")

C:\Users\user\AppData\Local\Temp\ipykernel_14844\2180459000.py:44: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  subset = subset.groupby('í’ˆëª©', group_keys=False).apply(remove_outliers)
C:\Users\user\AppData\Local\Temp\ipykernel_14844\2180459000.py:44: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  subset = subset.groupby('í’ˆëª©', group_keys=False).apply(remove_outliers)
C:\Users\user\AppData\Local\Temp\ipykernel_14844\2180459000.py:44: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  subset = subset.groupby('í’ˆëª©', group_keys=False).apply(remove_outliers)
C:\Users\user\AppData\Local\Temp\ipykernel_14844\2180459000.py:44: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  subset = subset.groupby('í’ˆëª©', group_keys=False).apply(remove_outliers)

ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„°ê°€ 'ëŒ€ì „_ë¬¼ê°€_IQR_ì´ìƒì¹˜ì œê±°.xlsx'ë¡œ ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤.

In [19]:
import pandas as pd

# ë°ì´í„° ë¡œë“œ
DJ_all = pd.read_excel("ìˆ˜ì •_ëŒ€ì „ ë¬¼ê°€ ë°ì´í„°.xlsx")

# 'ì¡°ì‚¬ê¸°ì¤€' ì»¬ëŸ¼ ì œê±° (í•„ìš”í•˜ë©´ ì‚¬ìš©)
if 'ì¡°ì‚¬ê¸°ì¤€' in DJ_all.columns:
    DJ_all = DJ_all.drop(columns=['ì¡°ì‚¬ê¸°ì¤€'])

# 'ì›”' ì»¬ëŸ¼ì„ datetime í˜•ì‹ìœ¼ë¡œ ë³€í™˜
DJ_all['ì›”'] = pd.to_datetime(DJ_all['ì›”'], format='%Y-%m')

# ì›ë³¸ ë°ì´í„° ë³µì‚¬ (ì´ìƒì¹˜ ì œê±° ì „ ë°ì´í„° ë³´ì¡´)
original_DJ_all = DJ_all.copy()

# ê¸°ê°„ë³„ ê·¸ë£¹í™” ì„¤ì •
time_ranges = {
    "2014-2016": (2014, 2016),
    "2017-2019": (2017, 2019),
    "2020-2022": (2020, 2022),
    "2023-2024": (2023, 2024)
}

# ì´ìƒì¹˜ ì œê±° í•¨ìˆ˜ (IQR ë°©ì‹)
def remove_outliers(group):
    # ìˆ˜ì¹˜í˜• ë°ì´í„°ë§Œ ì„ íƒ
    numeric_cols = group.select_dtypes(include=['number'])
    
    # IQR ê³„ì‚°
    Q1 = numeric_cols.quantile(0.25)
    Q3 = numeric_cols.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # ì´ìƒì¹˜ ì €ì¥
    outlier_mask = (numeric_cols < lower_bound) | (numeric_cols > upper_bound)
    removed_outliers = numeric_cols[outlier_mask].stack().reset_index()
    removed_outliers.columns = ['index', 'ë™', 'ì œê±°ëœ ê°’']

    # ì´ìƒì¹˜ ì²˜ë¦¬
    cleaned_group = group.copy()
    for col in numeric_cols.columns:
        cleaned_group[col] = cleaned_group[col].where((cleaned_group[col] >= lower_bound[col]) & (cleaned_group[col] <= upper_bound[col]))

    return cleaned_group, removed_outliers

# ì´ìƒì¹˜ ì œê±° ì ìš©
cleaned_dfs = []
removed_outliers_list = []

for label, (start_year, end_year) in time_ranges.items():
    # í•´ë‹¹ ê¸°ê°„ ë°ì´í„° í•„í„°ë§
    subset = DJ_all[(DJ_all['ì›”'].dt.year >= start_year) & (DJ_all['ì›”'].dt.year <= end_year)].copy()
    
    # í’ˆëª©ë³„, ì§€ì—­ë³„ ì´ìƒì¹˜ ì œê±°
    cleaned_subset_list = []
    removed_outliers_list_per_period = []

    for _, group in subset.groupby('í’ˆëª©'):
        cleaned_group, removed_outliers = remove_outliers(group)
        cleaned_subset_list.append(cleaned_group)
        removed_outliers_list_per_period.append(removed_outliers)

    # ì •ì œëœ ë°ì´í„°ì™€ ì œê±°ëœ ì´ìƒì¹˜ ë°ì´í„° í•©ì¹˜ê¸°
    cleaned_dfs.append(pd.concat(cleaned_subset_list, ignore_index=True))
    removed_outliers_list.append(pd.concat(removed_outliers_list_per_period, ignore_index=True))

# ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„° ë³‘í•©
cleaned_DJ_all = pd.concat(cleaned_dfs, ignore_index=True)
removed_outliers_df = pd.concat(removed_outliers_list, ignore_index=True)

# ì´ìƒì¹˜ ì œê±° ê°œìˆ˜ ì§‘ê³„
removed_outliers_count = removed_outliers_df.groupby('ë™')['ì œê±°ëœ ê°’'].count().reset_index()
removed_outliers_count.columns = ['ë™', 'ì œê±°ëœ ê°œìˆ˜']

# ê²°ê³¼ ì €ì¥
cleaned_DJ_all.to_excel("ëŒ€ì „_ë¬¼ê°€_IQR_ì´ìƒì¹˜ì œê±°.xlsx", index=False)
removed_outliers_df.to_excel("ì´ìƒì¹˜_ì œê±°_ëª©ë¡.xlsx", index=False)
removed_outliers_count.to_excel("ì´ìƒì¹˜_ì œê±°_ê°œìˆ˜.xlsx", index=False)

# ê²°ê³¼ ì¶œë ¥
print("âœ… ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„° ì €ì¥ ì™„ë£Œ: 'ëŒ€ì „_ë¬¼ê°€_IQR_ì´ìƒì¹˜ì œê±°.xlsx'")
print("ğŸ“„ ì´ìƒì¹˜ ì œê±° ê°œìˆ˜ ì €ì¥ ì™„ë£Œ: 'ì´ìƒì¹˜_ì œê±°_ê°œìˆ˜.xlsx'")
print("ğŸ—‚ ì´ìƒì¹˜ ì œê±° ëª©ë¡ ì €ì¥ ì™„ë£Œ: 'ì´ìƒì¹˜_ì œê±°_ëª©ë¡.xlsx'")
print("\nğŸ” [ì´ìƒì¹˜ ì œê±° ê°œìˆ˜ ìƒìœ„ 10ê°œ ë™]")
print(removed_outliers_count.sort_values(by='ì œê±°ëœ ê°œìˆ˜', ascending=False).head(10))

print("\nğŸ” [ì´ìƒì¹˜ ì œê±° ëª©ë¡ ìƒìœ„ 10ê°œ]")
print(removed_outliers_df.head(10))

âœ… ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„° ì €ì¥ ì™„ë£Œ: 'ëŒ€ì „_ë¬¼ê°€_IQR_ì´ìƒì¹˜ì œê±°.xlsx'
ğŸ“„ ì´ìƒì¹˜ ì œê±° ê°œìˆ˜ ì €ì¥ ì™„ë£Œ: 'ì´ìƒì¹˜_ì œê±°_ê°œìˆ˜.xlsx'
ğŸ—‚ ì´ìƒì¹˜ ì œê±° ëª©ë¡ ì €ì¥ ì™„ë£Œ: 'ì´ìƒì¹˜_ì œê±°_ëª©ë¡.xlsx'

ğŸ” [ì´ìƒì¹˜ ì œê±° ê°œìˆ˜ ìƒìœ„ 10ê°œ ë™]
         ë™  ì œê±°ëœ ê°œìˆ˜
16     ì›”í‰ë™     361
4      ë‘”ì‚°ë™     357
0    ê°€ ì˜¤ ë™     342
6      ë¹„ë˜ë™     340
3      ë•ì•”ë™     336
7   ì„ë´‰,ëª©ìƒë™     313
1      ê´€í‰ë™     312
15   ìš© ì „ ë™     310
17     ì „ë¯¼ë™     308
12     ì˜¤ì •ë™     295

ğŸ” [ì´ìƒì¹˜ ì œê±° ëª©ë¡ ìƒìœ„ 10ê°œ]
   index     ë™    ì œê±°ëœ ê°’
0    148   ê´€í‰ë™  13800.0
1    222   ë¹„ë˜ë™   3500.0
2    407   ì˜¤ì •ë™   1500.0
3    481   ë¹„ë˜ë™   8900.0
4    481   ì˜¤ì •ë™   5900.0
5    518   ë¹„ë˜ë™   8900.0
6    518   ì˜¤ì •ë™   5900.0
7    518  ì˜¨ì²œ2ë™  14140.0
8    555  ì˜¨ì²œ2ë™  14140.0
9    592  ì˜¨ì²œ2ë™  13070.0

In [21]:
DJ_count = pd.read_excel("ì´ìƒì¹˜_ì œê±°_ê°œìˆ˜.xlsx")
DJ_count

         ë™  ì œê±°ëœ ê°œìˆ˜
0    ê°€ ì˜¤ ë™     342
1      ê´€í‰ë™     312
2     ë…¸ì€2ë™     249
3      ë•ì•”ë™     336
4      ë‘”ì‚°ë™     357
5      ë¬¸í™”ë™     223
6      ë¹„ë˜ë™     340
7   ì„ë´‰,ëª©ìƒë™     313
8    ì†¡ ì´Œ ë™     262
9      ì‹ ì„±ë™     222
10    ì‹ íƒ„ì§„ë™     241
11     ì•ˆì˜ë™     243
12     ì˜¤ì •ë™     295
13    ì˜¨ì²œ1ë™     230
14    ì˜¨ì²œ2ë™     254
15   ìš© ì „ ë™     310
16     ì›”í‰ë™     361
17     ì „ë¯¼ë™     308
18     ì§„ì ë™     230
19   íšŒ ë• ë™     275

In [22]:
DJ_Delete_list = pd.read_excel("ì´ìƒì¹˜_ì œê±°_ëª©ë¡.xlsx")
DJ_Delete_list

      index      ë™    ì œê±°ëœ ê°’
0       148    ê´€í‰ë™  13800.0
1       222    ë¹„ë˜ë™   3500.0
2       407    ì˜¤ì •ë™   1500.0
3       481    ë¹„ë˜ë™   8900.0
4       481    ì˜¤ì •ë™   5900.0
...     ...    ...      ...
5698   4557  ì†¡ ì´Œ ë™     46.8
5699   4557    ì‹ ì„±ë™  35100.0
5700   4594  ê°€ ì˜¤ ë™  17950.0
5701   4594   ë…¸ì€2ë™  27970.0
5702   4594    ì‹ ì„±ë™  35100.0

[5703 rows x 3 columns]

In [24]:
import pandas as pd

# ë°ì´í„° ë¡œë“œ
DJ_all = pd.read_excel("ìˆ˜ì •_ëŒ€ì „ ë¬¼ê°€ ë°ì´í„°.xlsx")

# 'ì¡°ì‚¬ê¸°ì¤€' ì»¬ëŸ¼ ì œê±° (í•„ìš”í•˜ë©´ ì‚¬ìš©)
if 'ì¡°ì‚¬ê¸°ì¤€' in DJ_all.columns:
    DJ_all = DJ_all.drop(columns=['ì¡°ì‚¬ê¸°ì¤€'])

# 'ì›”' ì»¬ëŸ¼ì„ datetime í˜•ì‹ìœ¼ë¡œ ë³€í™˜
DJ_all['ì›”'] = pd.to_datetime(DJ_all['ì›”'], format='%Y-%m')

# ì›ë³¸ ë°ì´í„° ë³µì‚¬ (ì´ìƒì¹˜ ì œê±° ì „ ë°ì´í„° ë³´ì¡´)
original_DJ_all = DJ_all.copy()

# ê¸°ê°„ë³„ ê·¸ë£¹í™” ì„¤ì •
time_ranges = {
    "2014-2016": (2014, 2016),
    "2017-2019": (2017, 2019),
    "2020-2022": (2020, 2022),
    "2023-2024": (2023, 2024)
}

# ì´ìƒì¹˜ ì œê±° í•¨ìˆ˜ (IQR ë°©ì‹)
def remove_outliers(group):
    # ìˆ˜ì¹˜í˜• ë°ì´í„°ë§Œ ì„ íƒ
    numeric_cols = group.select_dtypes(include=['number'])
    
    # IQR ê³„ì‚°
    Q1 = numeric_cols.quantile(0.25)
    Q3 = numeric_cols.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # ì´ìƒì¹˜ ì €ì¥
    outlier_mask = (numeric_cols < lower_bound) | (numeric_cols > upper_bound)
    removed_outliers = numeric_cols[outlier_mask].stack().reset_index()
    removed_outliers.columns = ['index', 'ë™', 'ì œê±°ëœ ê°’']

    # ğŸ”¹ 'í’ˆëª©'ê³¼ 'ì›”' ì •ë³´ë¥¼ ì•ˆì „í•˜ê²Œ ì¶”ê°€
    removed_outliers = removed_outliers.merge(group[['ì›”', 'í’ˆëª©']], left_on='index', right_index=True, how='left')

    # ì´ìƒì¹˜ ì²˜ë¦¬
    cleaned_group = group.copy()
    for col in numeric_cols.columns:
        cleaned_group[col] = cleaned_group[col].where((cleaned_group[col] >= lower_bound[col]) & (cleaned_group[col] <= upper_bound[col]))

    return cleaned_group, removed_outliers

# ì´ìƒì¹˜ ì œê±° ì ìš©
cleaned_dfs = []
removed_outliers_list = []

for label, (start_year, end_year) in time_ranges.items():
    # í•´ë‹¹ ê¸°ê°„ ë°ì´í„° í•„í„°ë§
    subset = DJ_all[(DJ_all['ì›”'].dt.year >= start_year) & (DJ_all['ì›”'].dt.year <= end_year)].copy()
    
    # í’ˆëª©ë³„, ì§€ì—­ë³„ ì´ìƒì¹˜ ì œê±°
    cleaned_subset_list = []
    removed_outliers_list_per_period = []

    for _, group in subset.groupby('í’ˆëª©'):
        cleaned_group, removed_outliers = remove_outliers(group)
        cleaned_subset_list.append(cleaned_group)
        removed_outliers_list_per_period.append(removed_outliers)

    # ì •ì œëœ ë°ì´í„°ì™€ ì œê±°ëœ ì´ìƒì¹˜ ë°ì´í„° í•©ì¹˜ê¸°
    cleaned_dfs.append(pd.concat(cleaned_subset_list, ignore_index=True))
    removed_outliers_list.append(pd.concat(removed_outliers_list_per_period, ignore_index=True))

# ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„° ë³‘í•©
cleaned_DJ_all = pd.concat(cleaned_dfs, ignore_index=True)
removed_outliers_df = pd.concat(removed_outliers_list, ignore_index=True)

# âœ… ë™ë³„ & í’ˆëª©ë³„ ì œê±°ëœ ì´ìƒì¹˜ ê°œìˆ˜ ì§‘ê³„
removed_outliers_summary = removed_outliers_df.groupby(['ë™', 'í’ˆëª©'])['ì œê±°ëœ ê°’'].count().reset_index()
removed_outliers_summary.columns = ['ë™', 'í’ˆëª©', 'ì œê±°ëœ ê°œìˆ˜']

# âœ… ì´ìƒì¹˜ ì œê±° ê°œìˆ˜ ì§‘ê³„ (ë™ë³„)
removed_outliers_count = removed_outliers_df.groupby('ë™')['ì œê±°ëœ ê°’'].count().reset_index()
removed_outliers_count.columns = ['ë™', 'ì œê±°ëœ ê°œìˆ˜']

# âœ… ì´ìƒì¹˜ ì œê±°ëœ ìƒì„¸ ëª©ë¡ ì €ì¥
removed_outliers_detail = removed_outliers_df[['ì›”', 'ë™', 'í’ˆëª©', 'ì œê±°ëœ ê°’']]

# ê²°ê³¼ ì €ì¥
cleaned_DJ_all.to_excel("ëŒ€ì „_ë¬¼ê°€_IQR_ì´ìƒì¹˜ì œê±°.xlsx", index=False)
removed_outliers_df.to_excel("ì´ìƒì¹˜_ì œê±°_ëª©ë¡.xlsx", index=False)
removed_outliers_count.to_excel("ì´ìƒì¹˜_ì œê±°_ê°œìˆ˜.xlsx", index=False)
removed_outliers_summary.to_excel("ì´ìƒì¹˜_ì œê±°_ìš”ì•½.xlsx", index=False)
removed_outliers_detail.to_excel("ì´ìƒì¹˜_ì œê±°_ìƒì„¸ëª©ë¡.xlsx", index=False)

# ê²°ê³¼ ì¶œë ¥
print("âœ… ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„° ì €ì¥ ì™„ë£Œ: 'ëŒ€ì „_ë¬¼ê°€_IQR_ì´ìƒì¹˜ì œê±°.xlsx'")
print("ğŸ“„ ì´ìƒì¹˜ ì œê±° ê°œìˆ˜ ì €ì¥ ì™„ë£Œ: 'ì´ìƒì¹˜_ì œê±°_ê°œìˆ˜.xlsx'")
print("ğŸ“Š ë™ë³„ & í’ˆëª©ë³„ ì´ìƒì¹˜ ê°œìˆ˜ ì €ì¥ ì™„ë£Œ: 'ì´ìƒì¹˜_ì œê±°_ìš”ì•½.xlsx'")
print("ğŸ—‚ ì´ìƒì¹˜ ì œê±° ëª©ë¡ ì €ì¥ ì™„ë£Œ: 'ì´ìƒì¹˜_ì œê±°_ëª©ë¡.xlsx'")
print("ğŸ“… ì´ìƒì¹˜ ì œê±°ëœ ì›” í¬í•¨í•œ ëª©ë¡ ì €ì¥ ì™„ë£Œ: 'ì´ìƒì¹˜_ì œê±°_ìƒì„¸ëª©ë¡.xlsx'")

print("\nğŸ” [ë™ë³„ & í’ˆëª©ë³„ ì´ìƒì¹˜ ì œê±° ê°œìˆ˜ ìƒìœ„ 10ê°œ]")
print(removed_outliers_summary.sort_values(by='ì œê±°ëœ ê°œìˆ˜', ascending=False).head(10))

print("\nğŸ“… [ì´ìƒì¹˜ ì œê±°ëœ ì›” ì •ë³´ ìƒìœ„ 10ê°œ]")
print(removed_outliers_detail.head(10))

âœ… ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„° ì €ì¥ ì™„ë£Œ: 'ëŒ€ì „_ë¬¼ê°€_IQR_ì´ìƒì¹˜ì œê±°.xlsx'
ğŸ“„ ì´ìƒì¹˜ ì œê±° ê°œìˆ˜ ì €ì¥ ì™„ë£Œ: 'ì´ìƒì¹˜_ì œê±°_ê°œìˆ˜.xlsx'
ğŸ“Š ë™ë³„ & í’ˆëª©ë³„ ì´ìƒì¹˜ ê°œìˆ˜ ì €ì¥ ì™„ë£Œ: 'ì´ìƒì¹˜_ì œê±°_ìš”ì•½.xlsx'
ğŸ—‚ ì´ìƒì¹˜ ì œê±° ëª©ë¡ ì €ì¥ ì™„ë£Œ: 'ì´ìƒì¹˜_ì œê±°_ëª©ë¡.xlsx'
ğŸ“… ì´ìƒì¹˜ ì œê±°ëœ ì›” í¬í•¨í•œ ëª©ë¡ ì €ì¥ ì™„ë£Œ: 'ì´ìƒì¹˜_ì œê±°_ìƒì„¸ëª©ë¡.xlsx'

ğŸ” [ë™ë³„ & í’ˆëª©ë³„ ì´ìƒì¹˜ ì œê±° ê°œìˆ˜ ìƒìœ„ 10ê°œ]
         ë™   í’ˆëª©  ì œê±°ëœ ê°œìˆ˜
658    ì§„ì ë™  ì‹ìš©ìœ       33
629    ì „ë¯¼ë™   ì¡°ê¸°      30
478   ì˜¨ì²œ1ë™   ì„¸ì œ      29
531  ìš© ì „ ë™   ë‹¬ê±€      29
6    ê°€ ì˜¤ ë™   ë™íƒœ      29
151    ë‘”ì‚°ë™   ë‘ë¶€      28
120    ë•ì•”ë™  ë°€ê°€ë£¨      28
609    ì „ë¯¼ë™   ë©¸ì¹˜      28
31   ê°€ ì˜¤ ë™  ì°¸ê¸°ë¦„      27
161    ë‘”ì‚°ë™   ë¶„ìœ       27

ğŸ“… [ì´ìƒì¹˜ ì œê±°ëœ ì›” ì •ë³´ ìƒìœ„ 10ê°œ]
           ì›”     ë™  í’ˆëª©    ì œê±°ëœ ê°’
0 2014-08-01   ê´€í‰ë™  ê°ê·¤  13800.0
1 2015-10-01   ë¹„ë˜ë™  ê°ê·¤   3500.0
2 2015-03-01   ì˜¤ì •ë™  ê°ê·¤   1500.0
3 2015-05-01   ë¹„ë˜ë™  ê°ê·¤   8900.0
4 2015-05-01   ì˜¤ì •ë™  ê°ê·¤   5900.0
5 2015-06-01   ë¹„ë˜ë™  ê°ê·¤   8900.0
6 2015-06-01   ì˜¤ì •ë™  ê°ê·¤   5900.0
7 2015-06-01  ì˜¨ì²œ2ë™  ê°ê·¤  14140.0
8 2015-07-01  ì˜¨ì²œ2ë™  ê°ê·¤  14140.0
9 2015-08-01  ì˜¨ì²œ2ë™  ê°ê·¤  13070.0

In [25]:
DJ_Delete_list_2 = pd.read_excel("ì´ìƒì¹˜_ì œê±°_ìƒì„¸ëª©ë¡.xlsx")
DJ_Delete_list_2

              ì›”      ë™   í’ˆëª©    ì œê±°ëœ ê°’
0    2014-08-01    ê´€í‰ë™   ê°ê·¤  13800.0
1    2015-10-01    ë¹„ë˜ë™   ê°ê·¤   3500.0
2    2015-03-01    ì˜¤ì •ë™   ê°ê·¤   1500.0
3    2015-05-01    ë¹„ë˜ë™   ê°ê·¤   8900.0
4    2015-05-01    ì˜¤ì •ë™   ê°ê·¤   5900.0
...         ...    ...  ...      ...
5698 2024-08-01  ì†¡ ì´Œ ë™  í™”ì¥ì§€     46.8
5699 2024-08-01    ì‹ ì„±ë™  í™”ì¥ì§€  35100.0
5700 2024-09-01  ê°€ ì˜¤ ë™  í™”ì¥ì§€  17950.0
5701 2024-09-01   ë…¸ì€2ë™  í™”ì¥ì§€  27970.0
5702 2024-09-01    ì‹ ì„±ë™  í™”ì¥ì§€  35100.0

[5703 rows x 4 columns]